# IDEs
/.idea
/.project
/nbproject
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop

# OS
.DS_Store

/tests/_output/*
/tests/SprykerTest/Zed/EventBehavior/_support/_generated/*
!/tests/_output/.gitkeep

vendor/
composer.lock
