parameters:
    level: 8
    paths:
        - src/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        - */Propel/*
    ignoreErrors:
        - '#Parameter \#1 \$plugins of method .+EventResourceQueryContainerManager::processResourceEvents\(\) expects .+ given.#'
        - '#Call to (static method|method) .+ on an unknown class .+\\Spy.+#'
        - '#Call to method (event|utilEncoding|propel)\(\) on an unknown class .+AutoCompletion#'
        - '#Cannot call method offset\(\) on .+ModelCriteria\|null#'
        - '#.+ has invalid return type Orm\\.+#'
        - '#.+ has invalid type Orm\\.+#'
    bootstrapFiles:
        - tests/bootstrap.php
