name: CI

env:
    APPLICATION_ENV: 'development'
    APPLICATION_STORE: 'DE'
    PROJECT: 'EventBehavior '
    DATABASE_VERSION: 10.2
    DATABASE_HOST: 127.0.0.1
    DATABASE_PORT: 3306
    DATABASE_NAME: eu-docker
    DATABASE_USERNAME: spryker
    DATABASE_PASSWORD: secret
    DATABASE_ROOT_PASSWORD: secret
    DATABASE_ALLOW_EMPTY_PASSWORD: false
    DATABASE_CHARACTER_SET: utf8
    DATABASE_COLLATE: utf8_general_ci

on:
  pull_request:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  validation:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        php-version: [
            '8.1',
            '8.2'
        ]

    steps:
      - uses: actions/checkout@v2

      - uses: getong/mariadb-action@v1.1
        with:
          host port: ${{ env.DATABASE_PORT }}
          container port: ${{ env.DATABASE_PORT }}
          character set server: ${{ env.DATABASE_CHARACTER_SET }}
          collation server: ${{ env.DATABASE_COLLATE }}
          mariadb version: ${{ env.DATABASE_VERSION }}
          mysql database: ${{ env.DATABASE_NAME }}
          mysql root password: ${{ env.DATABASE_ROOT_PASSWORD }}
          mysql user: ${{ env.DATABASE_USERNAME }}
          mysql password: ${{ env.DATABASE_PASSWORD }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, pdo_mysql

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Composer install
        run: |
          composer --version
          composer install --optimize-autoloader

      - name: Run tests (failing right now)
        run: composer test || true

      - name: PHPStan checks
        run: |
          composer stan-setup
          composer stan

      - name: CodeStyle checks
        run: composer cs-check

  prefer-lowest:
      runs-on: ubuntu-20.04
      strategy:
          fail-fast: false
          matrix:
              php-version: [
                  '8.1'
              ]

      steps:
          - uses: actions/checkout@v2

          - uses: getong/mariadb-action@v1.1
            with:
                host port: ${{ env.DATABASE_PORT }}
                container port: ${{ env.DATABASE_PORT }}
                character set server: ${{ env.DATABASE_CHARACTER_SET }}
                collation server: ${{ env.DATABASE_COLLATE }}
                mariadb version: ${{ env.DATABASE_VERSION }}
                mysql database: ${{ env.DATABASE_NAME }}
                mysql root password: ${{ env.DATABASE_ROOT_PASSWORD }}
                mysql user: ${{ env.DATABASE_USERNAME }}
                mysql password: ${{ env.DATABASE_PASSWORD }}

          - name: Setup PHP
            uses: shivammathur/setup-php@v2
            with:
                php-version: ${{ matrix.php-version }}
                extensions: mbstring, intl, pdo_mysql

          - name: Get Composer Cache Directory
            id: composer-cache
            run: |
                echo "::set-output name=dir::$(composer config cache-files-dir)"

          - uses: actions/cache@v2
            with:
                path: ${{ steps.composer-cache.outputs.dir }}
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                restore-keys: |
                    ${{ runner.os }}-composer-

          - name: Composer prefer-lowest
            run: composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable -o

          - name: Run tests (failing right now)
            run: composer test || true

          - name: PHPStan checks (failing right now due to failing tests)
            run: |
                composer stan-setup
                composer stan || true
